* {
  font-family: "PT Sans", sans-serif;
  color: #2e2e2e;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #e9e9e6;
}
.header {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  padding-top: 30px;
  font-size: 60px;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

.header-subtext {
  margin: 0;
}

.subtext-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 30px;
  width: 30px;
  transition: transform 0.7s ease-in-out;
}

.logo:hover {
  transform: rotate(360deg);
}
.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: auto;
}

.toolbar {
  flex: 3;
  height: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pen-color input {
  border-style: none;
  height: 300px;
  width: 300px;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
}

.buttons button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: large;
}
.buttons button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.buttons button:hover {
  transition: all 0.5s ease-in-out;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 830px;
  flex: 6;
}
.canvas {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: white;
  height: 700px;
  width: 700px;
}
